<%= render 'partials/secondary_nav' %>

<h2>League Rules</h2></br>

<h3>Scheduled Match Policy</h3>

<p>
After schedules are finalized at the start of each season, 
no match may be canceled or rescheduled for any reason other than weather 
related field closures. Once a match has started, the referee has the 
responsibility to stop a match if conditions become unplayable or dangerous to continue.
</p>

<h3>Substituting Player Policy</h3>

<p>
The IPSL does not have a roster requirement, although we do require all teams to 
play their scheduled matches. That is the team that was placed in the division and 
scheduled. You can play any player from your club in a scheduled match as long as 
you do not substantially change the level of competition. It is the IPSL policy, 
that as a courtesy to the opposition, if you need to add players from another team, 
call the opposing coach and inform them of your situation. Otherwise you risk the 
match declared a forfeit if the substituted players create a mismatch.
</p>

<h3>New to Club Promotion</h3>

<p>
Prior to distributing any promotional material at another clubs event, you must
have written permission from that club.
</p>