<!-- Table display of all the League Information-->

<%= render 'partials/secondary_nav' %>

<div class="hero-unit">
	<h2>News</h3></br>
	<h3>Story 1</h3>
	<p>News story... is is a simple hero unit, a simple jumbotron-style 
		 component for calling extra attention to featured content or information.</p>
	<p><a class="btn btn-primary btn-large">Learn more</a></p>
</div>

<h2>League Information<h3></br>

<h3>League Play</h3>

<p>Contact the coaches of the teams in the area you are traveling to for updates. 
It is recommended each team have a phone tree to 
alert players of changes. We will do our best to notify all teams when a location closes
</p>
	
<h3>Scheduled Match Policy</h3>

<p>After schedules are finalized at the start of each season, 
no match may be canceled or rescheduled for any reason other than 
weather related field closures. Once a match has started, the referee has the 
responsibility to stop a match if conditions become unplayable 
or dangerous to continue.
</p>
	
<h3>Substituting Player Policy</h3>

<p>The IPSL does not have a roster requirement, although we do require all 
teams to play their scheduled matches. That is the team that was placed 
in the division and scheduled. You can play any player from your club in
a scheduled match as long as you do not substantially change the level
of competition. It is the IPSL policy, that as a courtesy to the opposition,
if you need to add players from another team, call the opposing coach and 
inform them of your situation. Otherwise you risk the match declared a 
forfeit if the substituted players create a mismatch.</p>
