<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Scheduler App</a>
      <div class="container nav-collapse">
				<ul class="nav">
					<li><%= link_to 'Home', '/' %></li>
					<li><%= link_to 'Leagues', leagues_path %></li>
					<li><%= link_to 'Teams', teams_path %></li>
					<li><%= link_to 'Fields', fields_path %></li>
				</ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>