<div class="well sidebar-nav">
  <ul class="nav nav-list">
		<li><%= link_to 'Sign Up!', signup_path, :class => "btn btn-large"%></li>
    <li class="nav-header">User Login</li>
  </ul>
</div><!--/.well -->